* {
    font-family: 'M PLUS 1 Code', sans-serif;
    background-color: black;
    color: white;
  
}

.header {
    background-color: gray;
    text-align: center;
    padding: 20px;
    border: 10px solid white;
    margin: 20px;
}

img {
    height: auto;
    width: 800px;
}

.description {
    background-color: gray;
    padding: 10px;
    text-align: center;
}

.ingrediants {
    padding: 10px;
    text-align: center;
    background-color: gray;
}

.list {
    text-align: center;
}

p {
    text-align: center;
}

.steps {
    padding: 10px;
    background-color: gray;
    text-align: center;
}

a {
    text-align: center;
}